*<link href="https://fonts.googleapis.com/css2?family=Overpass&family=Texturina:wght@400;600&display=swap" rel="stylesheet">

*{
    box-sizing: border-box;
    cursor: pointer;
}

body{
    margin: 0px;
    background-color: #fff;
}

header, footer{
    width: 100%;
    height: 10vh;
}

header{
    background-color: #fff;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

img{
    margin-top: 5px;
    height: 125px;
    width: 125px;
    align-items: center;
    display: flex;
}

nav{
    position: sticky;
    background-color: #0a70c2;
    padding: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    box-shadow: 0 1px 4px rgba(0,0,0, .4);
    border: outset;
}

nav > a:hover{
    color: #5c3d13;
    opacity: 1;
}

p{
    color: #fff;
    font-family: 'Texturina', serif;
}

.padding:{
    color: #0a70c2; 

}

h1 {
    font-family: 'Texturina', serif;
    text-align: center;
    color: #5c3d13;
    font-size: 50px;
}

h4{
    font-family: 'Texturina', serif;
    color: #0a70c2;
    text-align: center;
}

div video{
  justify-content: right;
}

footer{
  position: sticky;
  background-color: #0a70c2;
  padding: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0,0,0, .4);
  border: outset;    
}

a{
  text-decoration: none;
  color: #fff;
  font-family: 'Overpass', sans-serif;
  text-align:justify;
  display: flex;
  margin: 0px 10px 0px;
}

nav a{
    margin: 10px 10px 10px;
    color: inherit;
    font-size: 25px;
    text-decoration: none;
}

footer img {
    height: 50px;
    width: 50px;
    ;
}

form{
    width: 500px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #5c3d13; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: content-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: both; /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #0a70c2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #5c3d13;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    color: #5c3d13;
    font-size: 20px;
    font-weight: 600;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }