body{
    margin: 0;
    background-color: #fff;
}

header, footer{
    width: 100%;
    height: 10vh;
}

header{
    background-color: #fff;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

img{
    margin-top: 5px;
    height: 125px;
    width: 125px;
    align-items: center;
    display: flex;
}

nav{
    position: sticky;
    background-color: #0a70c2;
    padding: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    box-shadow: 0 1px 4px rgba(0,0,0, .4);
}

nav > a:hover{
    color: #5c3d13;
}

p{
    color: #fff
}